SGMNet/weights
SGMNet/results
ASpanFormer/results
SIFT/results
LoFTR/results
DeepDetect/results
SuperGlue/results
face_segmentation
bioverify/matchers/aspanformer_models
bioverify/matchers/deepdetect_models
bioverify/matchers/sgmnet_models
bioverify/matchers/superglue_models
bioverify/data/cache
__pycache__/